* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
[class*="col-"] {
	float:left;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.col-md-2{
	width: 16.66%;
}
.col-md-1{
	width: 8.33%;
}
.col-md-9 {
	width: 75%;
}
.col-md-4 {
	width: 33.3%;
}
.col-md-8 {
	width: 66.6%;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.logo {
	text-align: center;
}
ul {
	list-style-type: none;
}
.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #2c71b8;
	font-size: 21px;
}
.menu li:hover a{
    background-color:  #2c71b8;
    color: white;
    display: block;
}
.menu li .submenu li {
	display: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
	z-index: -1;
	float: none;
	border-right: 1px #2c71b8 solid; 
}
.submenu li a {
	color: white;
	background-color: #2c71b8;
	width: 293px;
}
ul.menu:nth-child(2) {
	position: relative;
}
.row>a {
	background-image: url(images/angle-down.png);
	background-repeat: no-repeat;
	background-position-x: 120px;
	background-position-y: 18px;
}
.submenu {
	position: absolute;
	margin: 0 auto;
	width: 293px;
	padding-left: 0;
	left: 270px;
	right: 270px;
	z-index: 100;
}
.submenu li:hover a {
	color: #2c71b8;
	background-color: white;
}
.menu li:hover>.submenu li {
	display: block;
}
#search {
  width: 97%;
  height: 29px;
}
#search input {
  float: left;
  border: 1px solid #2c71b8;
  margin-top: 11px;
  margin-left: 13px;
}
#search .input {
  width: 90%;
  height: 35px;
  padding: 0 38px 1px 15px;
  background-color: transparent;
  color: #2c71b8;
  outline: none;
}
#search .submit {
  width: 34px;
  height: 29px;
  cursor: pointer;
  margin-left: -37px;
  margin-top: 14px;
  background-color: #2c71b8;
  background-image: url(images/loop.png);
  background-position: center;
  background-repeat: no-repeat;
}
.icon {
	background-image: url(images/cart.png);
	background-color: white;
	float: left;
	display: inline-block;
	width: 35px;
	height: 35px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	margin: 10px;
}
.col-md-1 {
	position: relative;
}
.counter {
	background-color: #2c71b8; 
	color: white;
	position: absolute;
	margin: 0;
	border-radius: 50px;
	font-size: 11px;
	padding: 4px 6px;
	right:78px;
	top: 0;
}
.slider {
	height: 297px;
	width: 100%;
	border-bottom: 1px solid white;
	background-color: rgba(45, 96, 149, 0,25);
}
.references a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	display: inline-block;
	margin-top: 27px;
}
.references a:hover {
	text-decoration: underline;
}
h2 {
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-top: 25px;
}
h3 {
	font-weight: bolder;
	font-size: 21px;
	margin-bottom: 18px;
}
#text {
	display: none;
	border: 1px solid white;
}
label {
	position: relative;
	width: 8px;
	height: 8px;
}
label:before{
	content: "";
	display: block;
	width:8px;
	height:8px;
	border:1px solid white;
	background-color: transparent;
	position: absolute;
	top:3px;
	left: -17px;
}
input:checked + label:before {
	background-color: white;
}
.boldtext {
	font-weight: bold;
}
.left-panel {
	background-color: rgba(255,255,255,0.30);
	color: white;
	padding-top:32px;
	padding-right: -15px;
	width: 20%;
	margin-right: 25px;
	border-right: 1px solid white;
}
.left-panel>ul {
	margin-left:20px;
}
.left-panel>ul>li {
	margin-bottom: 40px;
}
.left-panel>ul>li>ul>li{
	margin-top: 15px;
	margin-left: 20px;
}
.left-panel>div {
	text-align: center;
	padding-bottom: 20px;
}
.left-panel>div>button {
	margin-top: 25px;
	color: white;
	border: 1px solid white;
	padding : 10px;
	background-color:#2c71b8;
	width: 209px;
	height: 50px;
	font-size: 18px;
}
.left-panel>div>button:hover {
	background-color:#568dc6;
	cursor: pointer;
}
.sort {
	margin-top: 60px;
	margin-bottom: 8px; 
	height: 39px;
	width: 272px;
	background-color:#2c71b8;
	color: white; 
	z-index:-1;
    line-height: 39px;
    border: 1px solid white;
    position: relative;
    padding-left: 15px;
    background-image: url(images/angle-down1.png);
    background-repeat: no-repeat;
    background-position-x: 240px;
	background-position-y: 12px;
}
.submenu1 li {
	height: 39px;
	width: 272px;
	background-color:#2c71b8;
	color: white; 
	z-index:100;
    line-height: 39px;
    border: 1px solid white;
    display: none;
}
ul .submenu1 {
	position: absolute;
	margin: 0 auto;
	left: -2px;
	z-index: 100;
}
.submenu1 li:hover {
	color: #2c71b8;
	background-color: white;
}
.sort:hover>.submenu1 li{
	display: block;
}
.devices {
	color: white;
	background-color: rgba(44,112,183,0.60);
	width: 272px;
	margin-right: 30px;
	border: 1px solid white;
	margin-top: 28px;
	height: 570px;
	padding: 15px;
}
h3 {
	padding-top:10px; 
}
.device-image {
	background-color: rgba(255,255,255,0.60);
	height: 177px;
	width: 270px;
	margin-top: -15px;
	margin-left: -15px;
	text-align: center;
	line-height: 177px;
	position: relative;
}
.device-image img{
	z-index: -1;
	background-color:transparent;
	vertical-align: middle;
	image-rendering: auto;
}
.check {
	background-image: url(images/icon1.png);
	position: absolute;
	margin: 0 auto;
	z-index: 100;
	height: 30px;
	width: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #2c71b8;
	top:13px;
	right: 8px;
}
.check:hover{
	background-image: url(images/icon.png);
	position: absolute;
	margin: 0 auto;
	z-index: 100;
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #2c71b8;
	top:13px;
	right: 8px;
}
.like {
	background-image: url(images/like.png);
	position: absolute;
	margin: 0 auto;
	z-index: 100;
	height: 30px;
	width: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #2c71b8;
	top: 52px;
	right:8px; 
}
.like:hover {
	background-image: url(images/like1.png);
	position: absolute;
	margin: 0 auto;
	z-index: 100;
	height: 30px;
	width: 30px;
	background-color: #2c71b8;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #2c71b8;
	top: 52px;
	right:8px; 
}
li .type {
	margin-top:15px;
}
.info {
	height: 51px;
	width: 211px;
	color: white;
	padding: 15px 31px;
	margin-bottom: 4px;
}
sup {
	font-size: 30px;
}
.info div {
	font-size: 37px;
	font-weight: bolder;
	text-align: center;
	padding-left:37px;
}
.info button {
	text-decoration: none;
	border: 1px solid white;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
	width: 209px;
	height: 50px;
	color: white;
	margin-top: 15px;
	margin-left: -13px; 
}
.button1{
	background-color:#2c71b8; 
}
.button1:hover{
	background-color:#568dc6;
	cursor: pointer;
}
.button2 {
	background-color: #568dc6;
	background-image: url(images/cart2.png);
	background-repeat: no-repeat;
	background-position-x: 177px;
    background-position-y: 13px;
}
.button2:hover {
    background-color:#2c71b8;
    cursor: pointer;
}